/* Copyright Art. Lebedev | http://www.artlebedev.ru/ */
/* Updated 2013-10-31 by dy */

/* Layout */
.layout {
    position: relative;
    background: #fff;
    min-height: 100%;
    min-width: 995px;
    max-width: 1600px;
    padding: 0 0 1em 0;
    margin: 0 auto;
}

.sticky-footer .layout {
    padding-bottom: 37em;
}
.layout.fullwidth {
    padding-bottom: 0;
}
.page {
    position: relative;
    min-width: 995px;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100%;
    background: url('/f/src/global/i/gradient-bottom.jpg') bottom repeat-x;
    overflow: hidden;
    box-shadow: 0 0 50px #ccc;
}
.header {
    position: relative;
}
.header_dark_gradient {
    background: #f0f0f0 url('/f/src/global/i/bg-fon.jpg') bottom center no-repeat;
}
.layout_decor {
    position: absolute;
    top: -80px;
    left: -3%;
    width: 778px;
    height: 374px;
    background: url('/f/src/global/i/gypsum/ab-three.png')0 0 no-repeat;
    pointer-events: none;
}
.layout_decor-apple {
    background-image: url('/f/src/global/i/gypsum/apple.png');
    left: 1%;
}
.page-decor-bird:before {
    content: "";
    position: absolute;
    background: url('/f/src/global/i/gypsum/bird2.png') 0 0 no-repeat;
    top: -60px;
    left: -110px;
    width: 230px;
    height: 320px;
    z-index: -1;
}
.layout_decor-rudder {
    background: url('/f/src/global/i/gypsum/rudder.png') 0 0 no-repeat;
    top: -110px;

}
.page-decor-book {
    position: absolute;
    background: url('/f/src/global/i/gypsum/book.png') 0 0 no-repeat;
    top: -70px;
    left: 0;
    width: 256px;
    height: 332px;
}
.header-top {
    position: relative;
    font-family: Arial;
    font-size: .8em;
    min-height: 45px;
}
.header_bg {
    background: url('/f/src/home/no-blur.jpg') center 110px no-repeat fixed;
}
.header_bg .b-head-leaf {
    background: #f8f8f8 url('/f/src/home/blur.jpg') center 110px no-repeat fixed;
}
.b-head-leaf {
    border-radius: 6px;
    background: #F8F8F8;
}
.b-head-leaf__inner {
    padding: 1em;
}
.b-head-leaf__inner_indent {
    padding: 1em 3em;
}
.b-head-leaf_indent {
    margin-top: 3em;
}
.header__loc {
    float: left;
}

.header-bg-bubble {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}
.js-inited.header-bg-bubble {
    opacity: 1;
    visibility: hidden;
    top: 220px;
    width: 200px;
    background: url('/f/src/home/bubble-line.png') no-repeat bottom left; 
}
.js-inited.header-bg-bubble span {
    display: block;
    padding: 0 0 30px 20px;
    font: italic 95% Georgia ;
    color: #8e8e8e;
}

.header__controls {
    float: left;
}
.header__title, .header_body {
    padding: 0;
    margin: 0;
    line-height: 45px;
    color: #000;
}

.header_body {
    height: 45px;
}

.head-title {
  font-family: FuturaPTWebDemi, "Helvetica Neue", Arial, sans-serif;
  text-transform: uppercase;
}

.head-desc {
  margin-left: 0.5em;
  font-style: italic;
  font-size: 85%;
}

[id="home_page"] .header_body {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 45px 0 4.8%;
    border-bottom: 1px solid #E0E2E2;
}
[id="home_our"] .header_body {
    border-bottom: 1px solid #E0E2E2;
}
.news-line {
    text-align: center;
    padding: 0 200px;
    overflow: hidden;
    height: 45px;
}
.header__search {
    display: inline-block;
    height: 100%;
    width: 100px;
    background: #fff;
}
.grid {
    position: relative;
    margin-top: 15px;
    margin-left: 4.8%;
}
.grid:before, .grid:after {
    content: "";
    display: table;
    line-height: 0;
}
.grid:after {
    clear: both;
}
.grid_with-sidebar {
    background: #fff url('/f/src/global/i/gradient-bottom.jpg') bottom repeat-x;
    margin-left: 200px;
    margin-top: -45px;
    padding-right: 40px;
    border-radius: 10px 0 0;
}
.main {
    margin: 0 190px 0 0;
}
.wide .main {
    display: table;
    width: 78%;
    margin-right: 22%;
}
.main_block {
    display: block !important;
}
.medium .main {
    width: 73%;
    margin-right: 27%;
}
.bigside .main {
    margin-right: 366px;
    padding-left: 35px;
}
.grid_0 {
    margin-top: 0;
}
.grid_2 {
    margin-top: 25px;
}
.grid_3 {
    margin-top: 45px;
}
.grid_4 {
    margin: 0;
}
.wide, .medium {
    width: 100%;
}
.fullwidth .main,
.fullwidth .modules__inner,
.fullwidth .main .modules__inner {
    margin-right: 0;
}
.fullwidth .sidebar__inner {
    margin-right: 0;
}
.main_with-indent {
    margin-top: 40px;
}
.main_with-b-t {
    padding-top: 1.5em;
    border-top: 1px solid #ddd;
}
.content {
    position: relative;
}
.main_with-modules .content {
    margin-right: 225px;
}

.content__inner {
    margin: 0 30px 6em 0;
}
.content__inner_foot1 {
    margin-bottom: 1em;
}
.modules {
    width: 225px;
    padding-bottom: 6em;
}
.main .modules {
    float: right;
}
.sidebar .modules {
    float: left;
}

.main .modules__inner {
    /*margin: 0 25px 0 0;*/
    margin-right: 25px;
}

.modules > *,
.modules__inner > *,
.sidebar > *,
.sidebar__inner > * {
    margin-top: 30px;
}

.modules > *:first-child,
.modules__inner > *:first-child,
.sidebar > *:first-child,
.sidebar__inner > *:first-child {
    margin-top: 0;
}


.detect_display-table .main.main_with-modules {
    direction: rtl;
    margin-right: 0;
}
.detect_display-table .main_with-modules .content,
.detect_display-table .main_with-modules .modules {
    display: table-cell;
    float: none;
    vertical-align: top;
    direction: ltr;
}
.detect_display-table .main_with-modules .modules {
    width: 23%;
    min-width: 225px;
}

.sidebar {
    float: right;
    vertical-align: top;
    width: 190px;
    border-left: 1px solid #E0E2E2;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar_clean {
    border-left: none;
}
.sidebar__inner {
    padding: 0 45px 0 25px;
    margin-top: 0;
    font-size: 78%;
}
.sidebar__normal {
    font-size: 100%;
}
.sidebar__inner h5, .sidebar__inner .h5 {
    font-size: 112%;
}
.wide .sidebar {
    min-width: 190px;
    width: 22%;
}
.medium .sidebar {
    min-width: 190px;
    width: 27%;
}
.bigside .sidebar {
    width: 366px;
}
.bigside .sidebar_subscribe {
    margin-top: -70px;
    padding: 155px 0 0 10px;
    margin-bottom: -32767px;
    padding-bottom: 32767px;
    color: #969696;
    background: #f3f3f3 url('/f/src/global/i/stamp.png') no-repeat 117px 70px;
}
.detect_generatedcontent .sidebar_with-decor {
    position: relative;
    padding-top: 140px;
}
.sidebar_with-decor:before {
    content: "";
    position: absolute;
    width: 174px;
    height: 213px;
    /*top: -80px;*/
    top: 0;
    left: 0;
    background: url('/f/src/global/i/gypsum/bird.png') no-repeat 0 0;
}
.detect_generatedcontent .sidebar_with-decor_outside {
    padding-top: 40px;
}
.sidebar_with-decor_outside:before {
    top: -80px;
}
.l-extra {
    position: relative;
    float: right;
    width: 22%;
}
.l-extra__inner {
    font-size: 80%;
    margin: 0 45px 15px 0;
}
.medium .l-extra {
    width: 27%;
}
.l-sidebar {
    float: left;
    width: 200px;
}
.l-sidebar_white {
    color: #fff;
}
.l-sidebar__inner {
    padding: 1em 1.5em;
}
.l-sidebar p {
    margin-top: .8em;
}
.l-sidebar p.first_child {
    margin-top: 0;
}
.l-sidebar .holder {
    position: relative;
    z-index: 11;
}
.l-sidebar .fixed{
    position: fixed;
}
.l-sidebar .fixed.stopped{
    position: absolute;
}

.sticky-footer .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.footer, .crop {
    position: relative;
    width: 100%;
    min-width: 995px;
    max-width: 1600px;
    clear: both;
    margin: 0 auto;
}

.for_footer {
    clear: both;
    height: 1px;
    padding-top: 6em;
    overflow: hidden
}
.footer__inner {
    padding: 0 45px 0 4.8%;
}
.footer__border {
    height: 4px;
    background: #000;
}

.footer__bottom {
    font-size: 75%;
    margin-bottom: 4em;
    width: 78%;
    overflow: hidden;
}
.footer__breadcrumbs {
    padding: 1em 0;
    border-bottom: 1px solid #ddd;
    font-size: 75%;
}
.footer__extra {
    float: right;
    width: 22%;
}

.footer__extra-inner {
    padding: 0 1.6em 0 25px;
}
.footer__extra-inner_indent-top {
    padding-top: 4em;
}
.fullwidth .footer {
    width: auto;
    min-width: inherit;
}
.fullwidth .footer__inner {
    padding: 0;
}
.fullwidth .footer__navigation {
    width: 100%;
    margin-right: 0;
}
.fullwidth .b-header, .fullwidth .footer {
    margin-left: 40px;
}
.fullwidth .main .content {
    padding-left: 40px;
}
.wrap {
    margin: 0 30px 0 8%;
}
.made_in {
    position: relative;
    left: 60%;
    width: 35%;
    padding-bottom: 50px;
}
.made_in_logo {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Header nav blocks */

.b-head {
    float: left;
}
.b-head.b-head_25 {
    width: 25%;
}
.b-head.b-head_40 {
    width: 40%;
}
.b-head.b-head_50 {
    width: 50%;
}
.b-head.b-head_60 {
    width: 60%;
}

/* Top Header Block*/

.header-board {
    position: relative;
    margin: 15px 45px 0 4.8%;
    clear: both;
}
.header-board_bb {
    border-bottom: 1px solid #E0E2E2;
}

.header-nav-board {
    margin: 0 45px 0 105px;
}

.header-board.header-board_single {
    padding-top: 10px;
}

.header-board__decor {
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -1;
}

/* DECORATION FIXED */

.header-board__decor_book {
    background: url('/f/src/global/i/gypsum/book.jpg') no-repeat fixed 150px 150px;
}
.header-board__decor_glasses {
    background: url('/f/src/global/i/gypsum/glasses.jpg') no-repeat fixed 560px 180px;
}
.header-board__decor_small-glasses {
    background: url('/f/src/global/i/gypsum/small-glasses.jpg') no-repeat fixed 780px 50px;
}
.header-board__decor_watch {
    background: url('/f/src/global/i/gypsum/watch.jpg') no-repeat fixed 500px 110px;
}
.header-board__decor_apple {
    background: url('/f/src/global/i/gypsum/apple.jpg') no-repeat fixed 40px 50px;
}
.header-board__decor_pad {
    background: url('/f/src/global/i/gypsum/pad.jpg') no-repeat fixed 230px 280px;
}

.header-board__menu {
    margin: 1em 0 .8em;
    font-size: 160%;
    position: relative;
    z-index: 1;
}
.header-board__menu ins {
    background: #000;
    border-radius: 4px;
    display: inline-block;
    height: 4px;
    width: 4px;
    position: relative;
    vertical-align: middle;
    margin: 0 7px;
}
.header-board__button {
    margin-top: .7em;
}

.b-hat {
    max-width: 1150px;
    margin: 0 auto;
    z-index: 1;
}
.b-hat a,
.b-hat a span {
    position: relative;
}
.header-b-cell-decor {
    position: absolute;
    top: -75px;
    left: -20px;
    width: 158px;
    height: 99px;
    background: url("/f/src/home/insider-teaser.jpg") no-repeat;
}
.b-head-menu-gradient {
    position: relative;
    margin: 0 45px 0 4.8%;
    font-size: 78%;
    line-height: 1.3;
}
.b-head-menu-top {
    margin: 3em 0 0;
    padding: .6em 0 .3em;
    /*border-top: 1px solid #E0E2E2;
    border-bottom: 1px solid #E0E2E2;*/
}
.b-head-2 {
     margin: 3em 0 0;
}
.b-head-3 {
    margin: 5em 0 0;
    position: relative;
}
.b-head-3__fastlink {
    margin: 0 -9em 0 4em;
    font-weight: bold;
}
/* Footer navigation */

.footer__navigation {
    margin: 1em 0 40px 0;
    font-size: 75%;
    overflow: hidden;
    width: auto;
}
/*
.wide .footer__navigation {
    margin-right: 22%;
}
.medium .footer__navigation {
    margin-right: 27%;
}
*/
.navigation_header {
    float: left;
    margin: 0 0 3em;
}
.navigation_body{
    float: left;
    margin: 0;
}
.navigation_6 {
    width: 15%;
    min-width: 140px;
}
.navigation_5 {
    width: 20%;
}
.navigation_4 {
    width: 25%;
}
.navigation_3 {
    width: 33.3%;
}
.navigation_2 {
    width: 50%;
}
.navigation_1 {
    width: 100%;
}
.navigation_header li,
.navigation_body li {
     padding-right: 19%;
     font-size: 80%;
}
.navigation_section {
    margin: 0 0 2em;
}
.navigation_section li,
.navigation__title {
    padding-right: 19%;
}
.navigation_header.navigation_horizontal {
    margin: 1em 0 1.7em;
}
.navigation_header.navigation_horizontal li {
    padding-right: 0;
}
.navigation_100 {
    width: 100%;
}
.navigation_50 {
    width: 50%;
}
.navigation_footer {
    float: left;
    width: 20%;
}
.navigation_footer li {
    padding-right: 15%;
}
.navigation_footer .parent {
    font-size: 120%;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'FuturaPTWebDemi', "Helvetica Neue", Arial, sans-serif;
}
.navset {
    float: left;
    width: 80%;
}
.navset + .navigation {
    width: 20%;
}
.navset_root {
    font-size: 80%;
    margin-right: 9%;
    padding-bottom: .7em;
    border-bottom: 1px solid #D8D8D8;
    color: #5c5c5c;
}
.navset .navigation_header li {
    padding-right: 11%;
}
.row {
    position: relative;
}
.row:before, .row:after {
    content: "";
    display: table;
    line-height: 0;
}
.row:after {
    clear: both;
}
.row--columns::after, .row--columns::before {
    content: none;
}
/*
[class^="cell"]:not(td) {
    float: left;
    min-height: 1px;
}
*/
.cell5 {
    float: left;
    width: 20%;
    *width:19.9%;
}
.cell4_5 {
    float: left;
    width: 60%;
    padding-left: 20%;
}
.cell4 {
    float: left;
    width: 25%;
}
.cell2_4 {
    float: left;
    width: 50%;
    padding-left: 25%;
}
.cell__r {
    float: left;
    padding: 2em 0 0 0;
}
.cell5__l {
    float: left;
    padding: 4em 0 0 0;
}
.cell5:first-child .cell5__l {
    float: left;
    padding-right: 10%;
}

.cell5__r {
    float: left;
    padding: 4em 0 0 20%;
}
