/* Copyright Art. Lebedev | http://www.artlebedev.ru/ */
/* Created 2014-04-29 by dy */
.persons {
	position: relative;
	margin-top: 2em;
}
.persons__label {
	padding-right: 0;
	float: left;
	width: 27%;
}
.persons__label:first-child {
	width: 73%;
}
.persons__label:first-child .b-title-underline {
	margin-right: 30px;
}
.person__title {

}
.person__avatar {
	float: left;
	margin-left: -60px;
	width: 43px;
}
.person {
	padding: 1em 0;
	margin-top: 0;
}
.person:hover {
	background: #f9fafb;
}
.abc-filter {
	position: fixed;
	z-index: 1;
	top: 0px;
	left: 0px;
	padding-top: 3em;
	width: 45px;
	display: none;
}

.abc-filter.stopped{
	position: absolute;
}

.abc-filter__letter, .abc-filter__letter a {
	width: 40px;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.abc-filter__letter {
	color: rgba(137,137,137,.6);
	font-size: 11px;
}

.abc-filter__letter a, .abc-filter__letter a:hover, .abc-filter__letter a.link {
	color: #666;
	/*color: rgba(137,137,137,.6);*/
	border-bottom-color: transparent;
	font-weight: bold;
	display: inline-block;
}

.detect_no-rgba .abc-filter__letter {
	color: #898989;
}

.abc-filter__letter_current {
	padding: 10px 5px 10px 0;
	border-radius: 0 100px 100px 0;
	background: #1658da;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
}

.abc-filter__letter_all, .abc-filter__letter_all a {
	color: #f00;
	text-transform: uppercase;
}


.abc-filter__letter_all.abc-filter__letter_current {
	font-size: 14px;
}

.abc-filter__letter_current a,
.abc-filter__letter_current a.link,
.abc-filter__letter_current a:hover {
	color: #fff;
	margin: -10px 0 -10px;
	border-bottom-color: transparent;
	height: 45px;
	line-height: 45px;
	display: inline-block;
}

.hse-side-filters__topunits .link.selected {
	color: white;
}

.hse-side-filters__treeunits {
	display: none;
}
.hse-side-filters__treeunits li.selected > span > a {
	color: white;
	border-bottom: none;
}
.navigation_filter.bonsai[style^="height: 0px;"] {
	display: none;
}
.hse-side-filters ul.bonsai, .hse-side-filters ul.bonsai li {
	margin: 5px 0 0;
	line-height: 1.3;
}
.person-avatar-small2 {
	width: 43px;
	height: 43px;
	background-size: 40px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: -63px;
	float: left;
}

.intrests .intrests__side {
	float: left;
	width: 47%;
}
.intrests .intrests__side_border {
	padding-left: 1em;
	border-left: 1px dashed #aaa;
}
.intrests ul li:before {
	content: none;
	margin-left: 0;
}


.side_filter_title .b-arr_down, .side_filter_title .b-arr_rightd {
	background: url('/f/src/global/i/sprite.png') -374px -11px no-repeat;
	display: inline-block;
	width: 20px;
	height: 20px;
	overflow: hidden;
	margin: -5px 0 0 -25px;
	border: none;
	cursor: pointer;
}

.side_filter_title ins.b-arr_rightd {
	background-position: -374px -35px;
	margin: -5px 0 0 -25px;
}

.subtitle_link {
	font-size: 50%;
	position: relative;
	border-bottom: 1px solid;
	border-bottom-color: inherit;
	cursor: pointer;
}

.slash_separator {
	position: relative;
	display: inline-block;
	top: .3em;
	height: 40px;
	margin-top: -24px;
	margin: -24px 10px 0 15px;
	transform: rotate(25deg);
	border: 1px solid black;
}


@media (min-width: 768px) {
    .main_title {margin-right: -190px;}
}




