.color_inherit.color_inherit {
	color: inherit;
	border-bottom: currentColor;
}

.grid .main {
	width: 73%;
	margin-right: 27%;
}
.grid .l-extra {
	width: 27%;
}

.ul>li:before {
	content: none;
}

.fa-footer {
	overflow: hidden;
}

/* side filters */
.b-filters {
    background: #f9faf5;
    padding: 20px 10px 30px 25px;
    margin-left: -15px;
}

.editor a, .editor a.link, .editor a:link, .editor:visited {
	color: #aaa;
	border-bottom: 1px dashed #aaa;
	opacity: .5;
	font-size: 10px;
}

.footer_madein_container {
	margin-right: 22%;
	font-size: 75%;
}

.footer_madein {
	margin-left: 60%;
}

@media (max-width: 996px) {
	.footer_madein {
		margin-left: 0;
	}
}

@media (max-width: 767px) {
	.persons__label:first-child {
		display: block;
		width: auto;
		float: none;
	}

	.b-filters {
		display: block;
		padding: 0;
		margin: 0;
		background: transparent;
	}
	.grid .main {
		display: block;
		width: auto;
		margin-right: 0;
	}
	.grid .l-extra {
		width: auto;
		float: none;
		padding-top: 0;
	}

	.js-mobile_popup.js-mobile_popup, .js-bookmark {
		width: 100%;
	}

	.js-bookmark {
		position: static;
	}

	.extra-left, .post__content_person {
		margin-left: 2em;
	}
	.page-decor-book {
		display: none;
	}

	.navigation_footer {
		display: block;
		float: none;
		width: auto;
		margin: 0;
	}

	.b-selected {
		display: block;
		padding: .9rem 0;
		background: transparent;
		color: #1658DA;
		font-weight: bold;
	}

}

.post__content_person {
	display: flex;
}

.post__content_person .l-extra {
	width: 27%;
	flex: 1 0 auto;
	order: 2;
}
.post__content_person .person__main {
	flex: 1 1 auto;
	margin-right: 5%;
}


@media (max-width: 996px) {

	.l-extra__inner {
		margin-right: 0;
	}
	.post__content_person {
		display: flex;
		flex-direction: column-reverse;
	}

	.grid .person__main {
		width: auto;
		margin-right: 0;
	}

	.person__main .content__inner {
		margin-bottom: 1em;
	}

	.grid .person__extra {
		width: auto;
	}
}
.b-filters__inner {
    padding: 1.5em;
}
.b-filters__bottom {
    margin-top: 5em;
}

.side_filters {
    position: relative;
    padding-top: 200px;
    margin-left: -16px;
}

.side_filters:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -50px;
    top: 0;
    width: 162px;
    height: 162px;
    background: url('/f/src/global/i/logo_3.png') no-repeat top left;
}

.side_filters_title {
    margin-left: 23px;
    text-transform: uppercase;
}

.side_filter_title {
    font: bold 12px Arial, sans-serif;
    margin-bottom: 10px;
    margin-left: 23px;
    text-transform: none;
}
.side_filter_title ins {
    margin: -5px 0 0 -25px !important;
}

.side_filter_content {
    padding-left: 23px;
}

.side_filter_content .navigation  ul {
    display: none;
    margin-left: 1.5em;
}

.side_filter_content .expanded  ul, 
.side_filter_content .selected  ul {
    display: block;
}

.navigation_filter .selected a {
	color: inherit;
}

.side_filter_period_label {
    display: inline-block;
    width: 20px;
}

.filter_period {
    padding-left: 2px;
}
.side_filter_period_input {
    width: 80px;
    margin: 2px 0;
}

.side_filter_feedback {
    padding-top: 80px;
    background: url('/f/src/documents/feedback.png') no-repeat top left;
}


.side_filter select {
	max-width: 100%;
}

.side_filter_scroll .js-side_filter_content, .side_filter_scroll8 .js-side_filter_content  {
	overflow-y: scroll;
	max-height: 13em;
}


.b-filters .side_filter_content select {
   max-width: 85%;
}

.b-list.first-child, .b-list:first-child {
    margin-top: 2em;
}

.b-list__title {
    padding-bottom: .6em;
}

.edu-filter.smaller {
	font-size: inherit;
}

@media (min-width: 768px) {
.is-mobile {
    display: none !important;
}

